@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#app {
    background-color: vars.$background-color;
    min-height: 100dvh;
    font-family: 'Inter', sans-serif;
    padding: vars.$padding-l;
    color: vars.$text-primary;
}
