$font-size-xs: 11px;
$font-size-s: 13px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;

$padding-xs: 4px;
$padding-s: 8px;
$padding-m: 12px;
$padding-l: 16px;

$margin-xs: 4px;
$margin-s: 8px;
$margin-m: 12px;
$margin-l: 16px;

$radius-xs: 4px;
$radius-s: 8px;
$radius-m: 12px;
$radius-l: 16px;

$background-color: #eeeded;
$background-light: #fcfcfc;
